.homeContainer {
  .Select-control {
    background-color: #4c4c4c;
    .Select-multi-value-wrapper {
      .Select-value {
        background-color: #FFC107;
        color: black;
      }
    }
  }
}