@import "./assets/styles/variable";
@import "./assets/styles/font-awesome";
@import "./assets/styles/toastr";
@import "./assets/styles/animate";

@font-face {
  font-family: Etelka-Light;
  src: url("./assets/fonts/Etelka-Light-Pro.otf") format("opentype");
}

@font-face {
  font-family: Etelka-Medium;
  src: url("./assets/fonts/Etelka-Medium-Pro.otf") format("opentype");
}

@font-face {
  font-family: Etelka-Text-Pro;
  src: url("./assets/fonts/Etelka-Text-Pro.otf") format("opentype");
}

@font-face {
  font-family: Etelka-Text-Pro-B;
  src: url("./assets/fonts/Etelka-Text-Pro-Bold.otf") format("opentype");
}

@font-face {
  font-family: ITCHandel;
  src: url("./assets/fonts/ITC-Handel-Gothic-Arabic.otf") format("opentype");
}

@font-face {
  font-family: ITCHandel-Medium;
  src: url("./assets/fonts/ITC-Handel-Gothic-Arabic-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'FontAwesome';
  src: url('./assets/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('./assets/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('./assets/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('./assets/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('./assets/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('./assets/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal
}

.appContainer {
  &:before {
    content: "";
    position: fixed;
    left: -30px;
    z-index: -1;
    display: block;
    background-image: url("assets/images/background.jpg");
    background-size: cover;
    width: 200vw;
    height: 100vh;
    @include blur(3px);
  }
}
body {
  & * {
    font-family: ITCHandel, Etelka-Light, arial, serif;
  }
  .container {
    height: calc(100vh - 100px);
    @media screen and (max-width: 1024px) {
      overflow-y: auto;
    }
  }
}
