@import "variable";
@import "./assets/styles/font-awesome";

body {
  background-image: url("assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  & * {
    font-family: ITCHandel, Etelka-Light, arial, serif;
  }
  .container {
    height: calc(100vh - 100px);
    overflow-y: scroll;
  }
}